<ion-header>
  <ion-toolbar>
        <!-- Home Icon -->
        <ion-buttons slot="end">
          <ion-button (click)="goHome()">
            <ion-icon [icon]="home"></ion-icon>
          </ion-button>
       <!-- arrow-back Icon -->
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button (click)="goBack()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </ion-buttons>

    <ion-title>{{ person?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="person">

  <!-- 👤 Top Section -->
  <ion-item lines="none">

    <!-- Image -->
    <ion-avatar slot="start" style="width:120px; height:120px;">
      <img 
        *ngIf="person.profile_path"
        [src]="'https://image.tmdb.org/t/p/w200' + person.profile_path" />
    </ion-avatar>

    <!-- Info -->
    <ion-label>
      <h2>{{ person.name }}</h2>
      <p><strong>DOB:</strong> {{ person.birthday || 'N/A' }}</p>
      <p><strong>DOD:</strong> {{ person.deathday || 'N/A' }}</p>
      <p>
        <strong>AKA:</strong> 
        {{ person.also_known_as?.length ? person.also_known_as.join(', ') : 'N/A' }}
      </p>
      <p><strong>Place:</strong> {{ person.place_of_birth || 'N/A' }}</p>
    </ion-label>

  </ion-item>

  <hr>

  <!-- 📖 Biography -->
  <div style="padding:10px;">
    <p>
      {{ person.biography || 'No biography available.' }}
    </p>
  </div>

  <hr>

  <hr>

  <!-- 🎬 Other Movies -->
  <div style="padding:10px;">
    <h3>Other Movies</h3>
  </div>

  <ion-card *ngFor="let m of movies" (click)="openMovie(m.id)">

    <img 
      *ngIf="m.poster_path"
      [src]="'https://image.tmdb.org/t/p/w300' + m.poster_path" />

    <ion-card-content>
      <h3>{{ m.title }}</h3>
    </ion-card-content>

  </ion-card>

</ion-content>