<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>G00472867</ion-title>
    <!-- Favourites icon (extra marks later) -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="heart"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item >

   
  
    <ion-input
      [(ngModel)]="searchText"
      label="Search"
      placeholder="Movie Name">
    </ion-input>
  </ion-item>
  
  <ion-button expand="block" class="search-btn" (click)="search()">
    SEARCH
  </ion-button>
  <!-- TITLE -->
 
  <h2 style="margin-left:10px;">{{ title }}</h2>

  <!-- MOVIES -->
  <ion-card *ngFor="let movie of movies">
    <img *ngIf="movie.poster_path" [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path">
    <p *ngIf="!movie.poster_path">No image</p>
    <ion-card-content>
      <h3>{{ movie.title }}</h3>  
      <p>{{ movie.overview }}</p>
    </ion-card-content>

  </ion-card>

</ion-content>